body {
  background-color: #1e1e2f;
  font-family: Arial;
}

.box {
  width: 350px;
  margin: 80px auto;
  background-color: #00bfa6;
  padding: 20px;
  border-radius: 12px;
}

h2 {
  text-align: center;
  color: white;
}

label {
  color: white;
  display: block;
  margin-top: 10px;
}

input, select {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
  border-radius: 6px;
  border: none;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 8px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 8px;
}
