body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1d2671, #c33764);
}

.header {
    background-color: #111;
    color: white;
    padding: 15px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 20px;
}

.card {
    background-color: #ffffff;
    width: 220px;
    height: 140px;
    border-radius: 12px;
    text-align: center;
    padding-top: 25px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.4);
}

.card h2 {
    font-size: 18px;
    color: #c33764;
}

.card p {
    font-size: 26px;
    font-weight: bold;
    color: #1d2671;
}
